/*
 * Empty Stylesheet file.
 */

/*==========Fondo==========*/
.fondo_pantalla {
    -fx-background-color: slategray;
}

/*==========Texto==========*/
.label{
    -fx-text-fill: black;
}

/*==========Botones==========*/
.button {
    -fx-font-size: 15px;
    -fx-background-color: darkgray;
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, #2f3e4e,10,0.5,0,0);
    -fx-font-family: 'Arial', sans-serif;
}

.button:hover{
    -fx-background-color: #2f3e4e;
    -fx-text-fill: black;
}

/*==========Tablas==========*/
.table-view {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 12;

   -fx-border-color: #a0adb7, #2f3e4e;   
    -fx-border-radius: 12; 
    -fx-border-width: 1.5;

    -fx-padding: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 0, 2);
    -fx-font-smoothing-type: lcd;
    -fx-font-family: 'Arial', sans-serif;
}

.table-row-cell:filled:selected {
    -fx-background-color: #91a3b0; /* selección */
}

.table-row-cell:filled:hover {
    -fx-background-color: #a9b6c0; /* hover */
}

.table-row-cell:odd {
    -fx-background-color: #b8c4cc;
}

.table-row-cell:even {
    -fx-background-color: #a9b6c0;
}

.table-view .column-header .label {
    -fx-text-fill: #2f3e4e;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
}

/*==========TextField==========*/
.text-field {
    -fx-background-color: slategrey;  
    -fx-text-fill: black;         
    -fx-font-size: 11px;
    -fx-background-radius: 6;
    -fx-border-color: #cccccc;
    -fx-font-family: 'Arial', sans-serif;
}


.date-picker {
    -fx-background-color: slategrey;
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-background-radius: 6;
    -fx-border-color: #a0adb7;
     -fx-font-family: 'Arial', sans-serif;
}

.date-picker .text-field {
    -fx-background-color: slategrey;
    -fx-text-fill: black;
    -fx-font-family: 'Arial', sans-serif;
}

/*==========Grind Pane==========*/
.grid-pane {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-background-radius: 20;

    -fx-border-color: rgba(209, 188, 167, 0.7), rgba(185, 163, 142, 0.4);
    -fx-border-insets: 0, 2;
    -fx-border-radius: 20, 18;
    -fx-border-width: 1.5, 1;

    -fx-border-color: #a0adb7, #2f3e4e;   
    -fx-border-insets: 0, 3;             
    -fx-border-radius: 16, 12; 
    -fx-border-width: 2, 1.5;

    -fx-padding: 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 16, 0.1, 0, 3);
    -fx-font-smoothing-type: lcd;
    
     -fx-font-family: 'Arial', sans-serif;
}

/*=============Textos=============== */
.label{
    -fx-text-fill:#2f3e4e;
    -fx-font-family: 'Georgia', serif;
    -fx-font-weight: bold;
}

